.not-found {
  h2 {
    margin: 8rem 0 2rem;
    padding: 0;
    color: rgb(203, 47, 47);
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
  }
  img {
    display: block;
    background-color: #ffd700;
    width: 50%;
    margin: auto;
  }
}
